<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickText</title>
</head>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '231124016');
</script>


<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form validate-form">
                    <span class="login100-form-title p-b-26">
                        QuickText
                    </span>
                    <span class="login100-form-title p-b-48">
                        <!-- <i class="zmdi zmdi-font"></i> -->
                        <img src="assets/images/icons/chat.png" width="50px" height="50px" alt=""> <br>
                        <button *ngIf="_pwaService.promptEvent" style="color: white;background: -webkit-linear-gradient(top, #3CB1C2, #38b0a0); font-size: 40%; padding: 3%; border-radius: 3px; margin-top: 7%;"
                         id="screenApp"  (click)="installPwa()">Instalar</button>
                        <button  id="iosButton"  *ngIf="isSafari == true"
                            style="color: white;background: -webkit-linear-gradient(top, #3CB1C2, #38b0a0); font-size: 40%; padding: 3%; border-radius: 3px; margin-top: 7%;"
                             (click)="openModal()">Instalar</button>
                    </span>
                    <div style="padding-bottom: 25px;">
                        <span id="message"> <p id="parrMensaje"> Envía un mensaje sin tener que guardar el número de teléfono a tus contactos utilizando la aplicación oficial de WhatsApp <i class="fa fa-whatsapp" aria-hidden="true"></i>. </p>  </span>
                    </div>

                    <div>

                        <select style="color: #64656c" class="wrap-input100 validate-input" id="country" [(ngModel)]="selectedCountry" (change)="selectCountry()">
                            <option style="color: #6D6C6C; background: transparent;" *ngFor="let count of countryCodeList" 
                            [ngValue]="count" >{{count.name}}</option>
                        </select>
                        <p *ngIf="validatedFormCountry === false" style="color: red; padding-bottom: 10px;">Debes seleccionar un país.
                        </p>
                    </div>


                    <form [formGroup]="sendMessageForm" (ngSubmit)="onSubmit()">

                        <div class="row" style="margin: 0px;">
                            <div style="width: 15%; background-color: transparent;" class="wrap-input100 validate-input">
                                <input formControlName="countryCode" type="text" class="input100" required readonly>
                            </div>
                            <div style="width: 80%;" class="wrap-input100 validate-input">
                                <input formControlName="destinationNumber" [mask]="cellphoneMask" type="tel" placeholder="Teléfono" class="input100" id="phone" name="phone" required>
                            </div>
                            <p *ngIf="validatedFormNumber === false" style="color: red; padding-bottom: 10px;">Agregar el número de destino sin simbolos(-)</p>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <textarea name="" id="" cols="30" formControlName="optionalMessage" rows="10" placeholder="Escriba su mensaje"></textarea>
                            <!-- <span class="focus-input100" placeholder="Mensaje Opcional"></span> -->
                        </div>

                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <input class="login100-form-btn" (click)="numberCleaner(sendMessageForm.value.destinationNumber)" type="submit" value="Enviar">
                            </div>
                        </div>
                    </form>
                    <!--button (click)="open()">open</button-->
                    <div class="text-center p-t-115">
                        <span class="txt1">
                            <a href="https://kolectiv.tech" target="_blank"> <strong>Kolectiv</strong> </a> 2020 | Derechos Reservados &copy;.
                        </span> <br>
                        <span class="txt1">
                            <strong>Versión 0.1.7</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="modal-content">
            <span (click)="closeModal()" id="close" class="close">&times;</span>
            <p>Toca en
                <img id="img" src="https://img.icons8.com/ios/50/000000/upload.png" width="25px" style="margin: 5px;" height="25px" /> >
                <img id="img" src="assets/icons/add_icon.png" width="35px" height="35px" />
            </p>
        </div>
    </div>
    <div id="myModalUpdate" class="modal">
        <div class="modal-content">
            <div>
                <h5>Actualización disponible!
                </h5>
            </div>
            <div>
                <button (click)="closeUpdateModal()" style="color: white;background: rgb(59, 58, 58); font-size: 80%; padding: 4%; border-radius: 3px; margin: 5%;">Lo haré luego</button>
                <button (click)="updateApp()" style="color: white;background: -webkit-linear-gradient(top, #3CB1C2, #38b0a0);  font-size: 80%; padding: 4%; border-radius: 3px; margin: 5%;">Actualizar</button>
            </div>

        </div>
    </div>

</body>

</html>